<footer id="footer-layout">
    <nav>
        <div>
            <p>@ Meetify. All Rights Reserved</p>
            <ul>
                <li>
                    <a href="/">
                        Home
                    </a>
                </li>
                <li>
                    <a href="/users/profile">
                        Profile
                    </a>
                </li>
            </ul>
        </div>
        
        <div id="here">
            <p>Developer Contact : <a href="https://www.linkedin.com/in/prathambansal">Pratham Bansal</a></p>
        </div>
    </nav>
</footer>