<footer id="footer-layout">
    <nav>
        <div>
            <p>@ Meetify. All Rights Reserved</p>
        </div>

        <ul>
            <li>
                <a href="/">
                    Home
                </a>
            </li>
            <li>    
                <a href="/users/profile">
                    Profile
                </a>
            </li>
        </ul>
    </nav>
</footer>