<h1>Sign Up</h1>

<form action="/users/create" method="POST">
    <input type="text" name="name" placeholder="Your Name" required>
    <input type="text" name="email" placeholder="Your Email" required>
    <input type="text" name="password" placeholder="Password" required>
    <input type="text" name="password" placeholder="Confrm Password" required>
    <input type="submit" value="Sign Up">
</form>