#footer-layout {
    nav{
        display: flex;
        background-color: rgb(83, 81, 81);
        color : white;
        div{
            margin : 0 5px;
        }
        ul{
            list-style : none;
        }
        a {
            color: white;
            text-decoration: none;
        }
    }

}