#home-container {
    display: flex;
    background-color: rgb(194, 222, 240);
    #feed-posts {
        width : 70%;
        padding : 10px;
    }
     
    #user-friends {
        width : 30%;
        padding : 10px;
        border-left : 2px solid rgb(172, 185, 189);
        min-height: 700px;
        max-height : 100%;
    }
}