<div>

    <p>Hi <%= comment.user.name %>! </p>
    <br>
    <br>
    <p>Your content <strong> <%= comment.content %> </strong> got published on meetify.</p>
    <br>
    <br>
    <p>Thanks!</p>
</div>