#home-container {
  display: flex;
  background-color: #c2def0;
}

#home-container #feed-posts {
  width: 70%;
  padding: 10px;
}

#home-container #user-friends {
  width: 30%;
  padding: 10px;
  border-left: 2px solid #acb9bd;
  min-height: 700px;
  max-height: 100%;
}
