body {
  background-color: lightblue;
}

#nme {
  background-color: #8dd7e0;
  border-radius: 30px;
  padding: 0 15px;
}

#nme h1 {
  color: #233b29;
}

#output {
  border-radius: 50%;
  margin-bottom: 10px;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form div {
  margin-left: 100px;
}

form span {
  margin-left: 10px;
}

#btn {
  margin-left: 90px;
}
